.grapher_style {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.grapher_style img {
	border: 0px;
	vertical-align: middle;
}
.grapher_style a {
	color: #333;
	text-decoration: none;
}
.grapher_style a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.grapher_style a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.grapher_style a.nodeSel {
	background-color: #c0d2ec;
}
.grapher_style .clip {
	overflow: hidden;
}

